<% var title = 'wp api' %><%- include('/partials/header', { title }) -%>

<div class="container main">
  <aside class="menu main__sidebar">
    <p class="menu-label">
      category
    </p>
    <ul id="js-category-list" class="menu-list"></ul>
  </aside>
  <div class="notification main__content">
    <div>総記事数：<span id="js-article-total">0</span></div>
    <div id="js-add" class="card__list"></div>
    <nav class="pagination is-rounded">
      <ul class="pagination-list" id="js-pagination"></ul>
    </nav>
  </div>
</div>

<div class="loading__image">
  <div class="snippet">
    <div class="stage">
      <div class="dot-elastic"></div>
    </div>
  </div>
</div>

<div id="js-template">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <a class="article__link" href="#" target="_blank">
          <img class="article__image" src="" />
        </a>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <div class="article__title"></div>
        <ul class="article__category"></ul>
        <time datetime="2016-1-1" class="article__date"></time>
      </div>
    </div>
  </div>
</div>

<%- include('/partials/footer') -%>
