body {
  background-color: whitesmoke;
}

.card {
  width: 300px;
  margin-bottom: 40px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:before {
      content: "";
      display: block;
      width: 300px;
      height: 0;
      order: 1;
    }
    &:after {
      content: "";
      display: block;
      width: 300px;
      height: 0;
    }
  }
}

.article {
  &__category {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      font-size: 12px;
      &:before {
        content: "#";
      }
    }
  }
  &__date {
    font-size: 13px;
    letter-spacing: 0.7px;
  }
}

/* Bulma 上書き対応 */
.card ul.article__category {
  margin: 0;
  margin-bottom: 0;
}
.card .article__category li {
  margin: 0 5px 0 0;
}

#js-template {
  display: none;
}

.main {
  padding-top: 20px;
  display: flex;
  &__sidebar {
    max-width: 300px;
  }
  &__content {
    max-width: 1000px;
  }
}

.menu-list {
  & a {
    font-size: 13px;
  }
}
