.header {
  border-bottom: 1px solid;

  &__item {
    margin-left: 30px;
  }

  &__logo {
    width: 100px;
  }
  &__search {
    &__input {
      border-radius: 0;
      width: 40vw;
    }
    &__btn {
      margin-left: -2px;
      border-radius: 0;
    }
  }
}
