.loading__image {
  z-index: 10;
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  display: none;
}

.snippet {
  position: relative;
  padding: 2rem 5%;
  margin: 1.5rem 0;
  border-radius: 0.25rem;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot-elastic {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #3a91d7;
  color: #3a91d7;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -25px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #3a91d7;
  color: #3a91d7;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 25px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #3a91d7;
  color: #3a91d7;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
